<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Ajout d'un etudiant</h1>
	<form action="#" th:action="@{/insertEtudiant}" th:object="${etudiant}" method="post">
		<label for="nom">Nom :</label>
		<input id="nom" type="text" th:field="*{nom}">
		
		<label for="prenom">Prenom :</label>
		<input id="prenom" type="text" th:field="*{prenom}">
		
		<label for="classes">Classe :</label>
		<select id="classes">
			<option th:each="classe: ${classes}" th:value="${classe.classeId}" th:text="${classe.classeNom}" th:field="*{classe}">
		</select>
		
		<input type="submit" value="Ajouter">
	</form>
</body>
</html>