<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Ajout d'un etudiant</h1>
	<form action="#" th:action="@{/insertEtudiant}" th:object="${etudiant}" method="post">
		<label for="nom">Nom :</label>
		<input id="nom" type="text" th:field="*{nom}">
		
		<label for="prenom">Prenom :</label>
		<input id="prenom" type="text" th:field="*{prenom}">
		
		<label for="classes">Classe :</label>
		<!-- If there is a ManytoOne relationship (done correctly -> see entities) then the field of the select needs to be the relation class !!! -->
		<!-- see: https://stackoverflow.com/questions/29646133/posting-data-with-many-to-one-relationship-using-thymeleaf for same example -->
		<select id="classes" th:field="*{classe}">
			<option th:each="c: ${classes}" name="classeID" th:value="${c.classeId}" th:text="${c.classeNom}">
		</select>
		
		<input type="submit" value="Ajouter">
	</form>
	<a th:href="@{/all}">Accueil</a>
</body>
</html>